@model IEnumerable<WebsitePerformanceEvaluator.Data.Models.LinkPerformance>

<h1>Links Performance</h1>

@if (Model != null && Model.Any())
{
    <table class="table-bordered">
        <thead>
        <tr>
            <th>URL</th>
            <th>Source</th>
            <th>Time (ms)</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var link in Model)
        {
            <tr>
                <td>@link.Url</td>
                <td>@link.CrawlingLinkSource</td>
                <td>@link.TimeResponseMs</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No links found.</p>
}