@model IEnumerable<WebsitePerformanceEvaluator.Data.Models.Link>

<h1>Links</h1>

<form method="post" action="@Url.Action("GetLinksFromUrl")">
    <label for="url">Enter a URL:</label>
    <input type="text" name="url" id="url" required>
    <button type="submit">Crawl</button>
</form>

@if (Model != null && Model.Any())
{
    <table class="table-bordered">
        <thead>
        <tr>
            <th>URL</th>
            <th>Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var link in Model)
        {
            <tr>
                <td>@link.Url</td>
                <td>@link.CreatedAt</td>
                <td><a href="@Url.Action("LinkPerformance", new { linkId = link.Id, url = link.Url })">View Details</a></td>
                
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No links found.</p>
}