@model IEnumerable<WebsitePerformanceEvaluator.Data.Models.LinkPerformance>

<h1>Links Performance</h1>

@if (Model != null && Model.Any())
{
    <table>
        <thead>
        <tr>
            <th>URL</th>
            <th>Source</th>
            <th>Time (ms)</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var linkPerformance in Model)
        {
            <tr>
                <td>@linkPerformance.Url</td>
                <td>@linkPerformance.CrawlingLinkSource</td>
                <td>@linkPerformance.TimeResponseMs</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No links found.</p>
}

<form method="post">
    <label for="url">Enter a URL:</label>
    <input type="text" name="url" id="url" required>
    <button type="submit">Crawl</button>
</form>